body {
  font-family: 'Cinzel', serif;
}

h1 {
  text-align: center;
}

.seasons {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.parents {
  display: flex;
}

.children {
  display: flex;
}
