body {
  font-family: 'Cinzel', serif;
  background-color: #D4CDB1;
}

h1 {
  text-align: center;
  font-size: 48px
}

#words {
  text-align: center;
}

.seasons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Cinzel', serif;
  flex-wrap: wrap;
}

input[type="buttonSeason"] {
  font-family: 'Cinzel', serif;
}

.parents {
  display: flex;
  justify-content: space-around;
  position: relative;
  text-align: center;
  color: silver;
}

.parents img {
  border-radius: 10px;
}

.names {
  position: relative;
  bottom: 5px;
  text-align: center;
  transform: translate(0, -50px);
}

.children {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  color: silver;
}

.children img {
  border-radius: 15px;
}

footer {
  background-color: #7B906F;
}

.sigil {
  margin: 0 auto;
  text-align: center;
}

/* #D4CDB1 for top half of page*/
/* #7B906F for bottom half of page*/
