body {
  font-family: 'Cinzel', serif;
  background-color: #D4CDB1;
  margin: 0;
}

header {
  background-color: #7B906F;
  padding-bottom: 1em;
}

#hStark {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#words {
  text-align: center;
}

.seasons {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Cinzel', serif;
  flex-wrap: wrap;
  padding-bottom: 4em;
  padding-top: 1em;
}

input[type="submit"] {
  font-family: 'Cinzel', serif;
  text-decoration: none;
  border: none;
  margin-right: 1em;
  cursor: pointer;
}

.parents {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  color: silver;
}

.deadClass {
  position: relative;
  bottom: 5px;
  text-align: center;
  transform: translate(0, -100px);
  color: red;
}

.eddard {
  padding-right: 4em;
}

.parents img {
  border-radius: 10px;
}

.lineage {
  text-align: center;
}

.names {
  position: relative;
  bottom: 5px;
  text-align: center;
  transform: translate(0, -50px);
}

.children {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
  color: silver;
}

.children img {
  border-radius: 15px;
}

footer {
  background-color: #7B906F;
}

.sigil {
  margin: 0 auto;
  text-align: center;
}

.overlayEddard {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -450px);
}

.eddard:hover .overlayEddard {
  opacity: 1;
}

.eddard:hover .nedImage {
  opacity: 0.7;
}


.overlayCatelyn {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -425px);
}

.catelyn:hover .overlayCatelyn {
  opacity: 1;
}

.catelyn:hover .catImage {
  opacity: 0.7;
}

.overlayRobb {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -400px);
}

.robb:hover .overlayRobb {
  opacity: 1;
}

.robb:hover .robbImage {
  opacity: 0.7;
}

.overlayJon {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -375px);
}

.jon:hover .overlayJon {
  opacity: 1;
}

.jon:hover .jonImage {
  opacity: 0.7;
}

.overlaySansa {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -350px);
}

.sansa:hover .overlaySansa {
  opacity: 1;
}


.sansa:hover .sansaImage {
  opacity: 0.7;
}


.overlayArya {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -330px);
}

.arya:hover .overlayArya {
  opacity: 1;
}

.arya:hover .aryaImage {
  opacity: 0.7;
}

.overlayBran {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -350px);
}

.bran:hover .overlayBran {
  opacity: 1;
}

.bran:hover .branImage {
  opacity: 0.7;
}

.overlayRickon {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  transform: translate(0, -418px);
}

.rickon:hover .overlayRickon {
  opacity: 1;
}

.rickon:hover .rickonImage {
  opacity: 0.7;
}





.text {
  color: #7B906F;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  width: 100%;
}
